.container {
  width: 52vw;
  height: 67vh;
  margin: auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.76);
  box-shadow: 2px 2px 5px black;
  display: flex;
}
.right {
  width: 60%;
  height: 100%;
  background: URL("https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  align-self: flex-end;
  font-size: 25px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.country {
  align-self: flex-end;
  font-size: 20px;
}
.end {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.time {
  font-size: 20px;
}
.date {
  font-size: 15px;
}
.tem {
  font-size: 30px;
  padding: 5px;
}
.left {
  width: 40%;
  color: white;
}
.weatherLogo {
  color: white;
  font-size: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); /* Start the rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}
.weatherCondition {
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.line {
  width: 80%;
  margin: auto;
  height: 1.35px;
  background-color: rgba(255, 255, 255, 0.644);
  margin-top: 2px;
}
.inputBox {
  display: flex;
  gap: 1px;
  padding: 20px 10px;
  justify-content: center;
}
.inputBox input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 15px;
  padding-bottom: 10px;
}
.inputBox input:focus {
  outline: none;
}
.inputBox input::placeholder {
  color: white;
}
.searchIcon {
  background-color: rgba(255, 255, 255, 0.514);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}

.searchedItem {
  width: 80%;
  margin: auto;
}
.searchedCity {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.line2 {
  width: 100%;
  margin: auto;
  height: 0.8px;
  background-color: rgba(255, 255, 255, 0.493);
  margin: 10px 0;
}
.searchedData {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  font-size: 15px;
}
.footer {
  /* font-size: 14px; */
  width: 25vw;
  font-weight: 500;
  margin: 30px auto;
  color: white;
}
@media screen and (max-width: 500px) {
  .container {
    width: 90vw;
    height: 800px;
    flex-direction: column;
    margin: 10px auto;
  }
  .right {
    width: 100%;
    height: 200px;
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer {
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    color: white;
  }
}
